<form action="/filtered_tweet" method="post">
  <input type="text" placeholder="handle name" name="twitter_handle">
  <input type="text" placeholder="filter by:" name="filter_tweet">
  <input type="submit" value="Filter the tweets!">
</form>
