<form action="/tweet" method="post">
  <input type="text" placeholder="handle name" name="twitter_handle">
  <input type="text" placeholder="Tweet here" name="tweet_body">
  <input type="submit" value="Tweet out from cheery converter twitter account">
</form>
